---
const { name, imageUrl, initials, attended, id } = Astro.props;
const checked = attended;
---

<div class="relative flex py-3 items-center group">
  <div class="min-w-0 flex-1 text-sm leading-6 items-center">
    <label
      for={"person-" + id}
      class="cursor-pointer select-none font-medium text-gray-900 flex items-center"
    >
      {
        imageUrl ? (
          <img
            src={imageUrl}
            alt={name}
            class={
              (attended ? "" : "opacity-30") + " h-8 w-8 rounded-full mr-4"
            }
          />
        ) : initials ? (
          <span
            class={
              (attended ? "opacity-100" : "opacity-30") +
              " inline-flex shrink-0 h-8 w-8 items-center justify-center rounded-full bg-gray-500 mr-4"
            }
          >
            <span class="text-sm font-medium leading-none text-white">
              {initials}
            </span>
          </span>
        ) : (
          <span class="inline-block h-8 w-8 overflow-hidden rounded-full bg-gray-100  mr-4">
            <svg
              class="h-full w-full text-gray-300"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </span>
        )
      }

      <span class={(attended ? "" : "opacity-70") + " truncate"}>{name}</span
      ></label
    >
  </div>
  <div class="ml-3 flex h-6 items-center">
    <input
      id={"person-" + id}
      name={name}
      type="checkbox"
      {checked}
      disabled
      class="h-4 w-4 rounded-full h-6 w-6 border-gray-300 text-indigo-600 focus:ring-0 focus:hover:ring-2 focus:hover:ring-offset-2 ring-indigo-600 hover:ring-2 hover:ring-offset-2"
    />
  </div>
</div>
